body {
    margin: 0;
    padding: 0;
     background-color: black;
    font-family: Helvetica bold, sans-serif
}

  .header{
    width: 100%;
    height: 5rem;
    display: block;
    background-color: white;
 
   }
    .interiorheader{
       width: 62.5rem;
       height: 100%;
       display: block;
       margin: 0 auto;
       background-color: white;
     }
     .name{
       height: 100%;
       display: table;
       float: left;
     
     } 
   
   .name h1{
     color: black;
     height: 100%;
     display: table-cell;
     vertical-align: middle;
     font-family: Helvetica,arial,sans-serif ;
     font-size: 2.5rem;
   }
   .tabs nav ul li {
     float: right;
     height: 100%;
   }
   .tabs nav ul li{
     height: 100%;
     display: table;
     float: left;
     padding: 1.5rem 2.5rem;
   }
   .tabs nav ul li{
     display: table-cell;
     vertical-align: middle;
     height: 100%;
     font-family: Helvetica,arial,sans-serif ;
     font-size: 1rem;
     font-weight: bold;
   }

   nav ul li a:link {
     text-decoration: none;
     }

     nav ul li a:visited {
     text-decoration: none;
     }

     nav ul li a:hover {
     text-decoration: underline;
     }

     nav ul li a:active {
     text-decoration: underline;
     }
     nav ul li a:link {
     color: black;
     }

     /* visited link */
     nav ul li a:visited {
     color: black;
     }

     /* mouse over link */
     nav ul li a:hover {
     color:black;
     }

     /* selected link */
     nav ul li a:active {
     color:black;
     }

     
     figure, figcaption {
        font-family: Helvetica;
        font-size: 1.5rem;
        display: block;
        font-style: bold;  
        color: rgb(236, 211, 144); 
        }

     img {
        border: 1.5rem solid  white;
        box-align: middle;
      }
        